<br>
<div class="col-md-12">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-listado-tab" data-toggle="pill" href="#pills-listado" role="tab"
        aria-controls="pills-listado" aria-selected="true">Listado</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-nueva-tab" data-toggle="pill" href="#pills-nueva" role="tab"
        aria-controls="pills-nueva" aria-selected="false">Nuevo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-home-tab" data-toggle="pill" routerLink="/maquina" role="tab"
        aria-controls="pills-home" aria-selected="false">Volver a Maquina</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-home-tab" data-toggle="pill" routerLink="/home" role="tab"
        aria-controls="pills-home" aria-selected="false">Volver a Inicio</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">

    <div class="tab-pane fade show active" id="pills-listado" role="tabpanel" aria-labelledby="pills-listado-tab">
      <app-correctivo-listado></app-correctivo-listado>
    </div>

    <div class="tab-pane fade" id="pills-nueva" role="tabpanel" aria-labelledby="pills-nueva-tab">
      <app-correctivo-nuevo></app-correctivo-nuevo>
    </div>
  </div>
</div>