<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Registros de Mantenimientos Preventivos - FAC: 029/001</h4>
      <div class="row">
        <div class="col-sm-3 mb-3">
          <button class="btn btn-danger btn-lg btn-block" type="submit">Guardar</button>
        </div>
        <div class="col-sm-3 mb-3">
          <button class="btn btn-danger btn-lg btn-block" type="submit">Modificar</button>
        </div>
        <div class="col-sm-3 mb-3">
          <button class="btn btn-danger btn-lg btn-block" type="submit">Agregar Itém</button>
        </div>
        <div class="col-sm-3 mb-3">
          <button class="btn btn-danger btn-lg btn-block" type="submit" routerLink="/maquinas">Volver a Listado</button>
        </div>
      </div>

      <hr class="mb-4">

      <form class="needs-validation" novalidate>

        <div class="row">
          <div class="col-4 mb-4">
            <label for="firstName">Fecha de Solicitud</label>
            <input type="text" class="form-control" id="firstName" placeholder="000" value="" required>
            <label for="firstName">Solicitante</label>
            <input type="text" class="form-control" id="firstName" placeholder="000" value="" required>
            <label for="firstName">Fecha Estimada de Reparación</label>
            <input type="text" class="form-control" id="firstName" placeholder="000" value="" required>
          </div>
          <div class="col-sm-8 mb-8">
            <label for="lastName">Mantenimiento a Realizar</label>
            <textarea class="form-control" id="comments" name="comments" placeholder="Mensaje" rows="4"></textarea>
          </div>
        </div>

        <hr class="mb-4">

        <div class="row">
          <div class="col-4 mb-4">
            <label for="firstName">Fecha de Solicitud</label>
            <input type="text" class="form-control" id="firstName" placeholder="000" value="" required>
            <label for="firstName">Solicitante</label>
            <input type="text" class="form-control" id="firstName" placeholder="000" value="" required>
            <label for="firstName">Fecha Estimada de Reparación</label>
            <input type="text" class="form-control" id="firstName" placeholder="000" value="" required>
          </div>
          <div class="col-sm-8 mb-8">
            <label for="lastName">Mantenimiento a Realizar</label>
            <textarea class="form-control" id="comments" name="comments" placeholder="Mensaje" rows="4"></textarea>
          </div>
        </div>
        <hr class="mb-4">
      </form>
    </div>
  </div>
</div>