<br>
<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Mantenimiento Correctivo - FAC: 029/001</h4>

      <hr class="mb-4">

      <form class="needs-validation" novalidate>

        <div class="row">
          <div class="col-4 mb-4">
            <label for="firstName">Nro de Maquina</label>
            <input type="date" class="form-control" id="firstName" placeholder="Nro de Maquina" value="" required>
            <label for="firstName">Solicitante</label>
            <input type="text" class="form-control" id="firstName" placeholder="Apellido y Nombre" value="" required>
            <label for="firstName">Fecha Estimada de Reparación</label>
            <input type="date" class="form-control" id="firstName" placeholder="dd/mm/aaaa" value="" required>
          </div>
          <div class="col-sm-8 mb-8">
            <label for="lastName">Mantenimiento a Realizar</label>
            <textarea class="form-control" id="comments" name="comments" placeholder="" rows="7"></textarea>
          </div>
        </div>

        <hr class="mb-4">

        <div class="row">
          <div class="col-4 mb-4">
            <label for="firstName">Fecha de Realizacion</label>
            <input type="date" class="form-control" id="firstName" placeholder="dd/mm/aaaa" value="" required>
            <label for="firstName">Realizado por</label>
            <input type="text" class="form-control" id="firstName" placeholder="Apellido y Nombre" value="" required>
            <label for="firstName">Fecha de Reparación</label>
            <input type="date" class="form-control" id="firstName" placeholder="dd/mm/aaaa" value="" required>
            <label for="firstName">Hora de Reparación</label>
            <input type="time" class="form-control" id="firstName" placeholder="hh:mm" value="" required>
          </div>
          <div class="col-sm-8 mb-8">
            <label for="lastName">Descripcion de Mantenimiento Realizado</label>
            <textarea class="form-control" id="comments" name="comments" placeholder="" rows="10"></textarea>
          </div>
        </div>
        <hr class="mb-4">
      </form>
    </div>
  </div>
</div>