<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID Maquina</th>
      <th scope="col">Datalle</th>
      <th scope="col">Marca</th>
      <th scope="col">Sector</th>
      <th scope="col">Estado</th>
      <th scope="col">Ficha</th>
      <th scope="col">Borrar</th>
    </tr>
  </thead>
  <tbody *ngFor="let maquina of maquinasList">
    <tr>
      <td><b>{{ maquina.idMaquina }}</b></td>
      <td>{{ maquina.detalle }}</td>
      <td>{{ maquina.marca }}</td>
      <td>{{ maquina.sector }} </td>
      <td>{{ maquina.estado }}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"
            (click)="mostrarDetalle(maquina)">Ficha</button>
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="eliminar(maquina.idMaquina)"
            routerLink="/listMaquinas">Borrar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>