<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Junar S.A.</h3>
        </div>
    </header>

    <main role="main" class="inner cover">
        <img class="responsive" src="assets/logos/LOGO_300dpi_transparente.png" alt="" srcset=""> <br><br>
        <h1 class="cover-heading">Sistema de Gestión de la Calidad</h1>
        <p class="lead">La dirección se compromete a apoyar y disponer de los recursos para la Implementación y Certificación del Sistema de Gestión de Calidad de JUNAR S.A. acorde a la norma ISO 9001. Todo el personal de la empresa es protagonista. El éxito necesita
            del compromiso de cada uno de nosotros.
        </p>

        <p class="lead">
            <a routerLink="/login" class="btn btn-lg btn-danger">Ingresar</a>
        </p>
    </main>

</div>