<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Junar S.A.</h3>
    </div>
  </header>

  <main role="main" class="inner cover">
    <img src="assets/logos/LOGO_300dpi_transparente.png" alt="" srcset=""> <br><br>
    <h1 class="cover-heading">Error de Usuario o Contraseña</h1>
    <p class="lead">Volver a Intentar, Ingrese los datos correctamente...
    </p>

    <p class="lead">
      <a routerLink="/login" class="btn btn-lg btn-danger">Reintentar</a>
    </p>
  </main>

</div>